@font-face {
    font-family: 'helvetica';
    src: url('asset/fonts/helvetica/Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica';
    src: url('asset/fonts/helvetica/Helvetica-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'inter';
    src: url('asset/fonts/inter/static/Inter_28pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'inter';
    src: url('asset/fonts/inter/static/Inter_28pt-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden; 
    font-family: Arial, sans-serif;
    scrollbar-color: rgba(255, 255, 255, 0.146) transparent;
    display: flex;
    flex-direction: column;
}

/* the canvas sits fixed behind all other content */
#bgCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    background: linear-gradient(to bottom, #020111 10%, #20143a 100%);
}

ul {
    margin-top: 0px;
    gap: 15px;
    align-items: center;
    height: 100%;
    width: 50%;
    display: flex;
    justify-self:center;
    justify-content: center;
}

.hnav {
    position: fixed;
    top: 15px;
    height: clamp(15px, 60vh, 40px);
    transform-origin: center;
    width: 100%;
    pointer-events: auto;
}

li a {
    text-align: center;
    font-family: helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
}

h1 {
    font-family: 'inter', sans-serif;
    font-weight: normal;
    font-size: 64px;
    margin-top: 0;
    text-align: center;
}

h2 {
    font-family: 'helvetica', sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin-top: 0;
}

h3 {
    font-family: 'helvetica', sans-serif;
    font-weight: normal;
    font-size: 24px;
    margin-top: 0;
}

p {
    font-family: 'helvetica', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
}

.main-content {
    margin-top: 100px;
    margin-left: 12%;
    margin-right: 12%;
    padding: 2%;
    margin-bottom: 100px;
    flex: 1;
}

.main-content h2 {
    text-align: center;
    font-family: "inter", sans-serif;
    font-weight: normal;
    font-size: 36px;
}

.button {
    border-radius: 15px;
    font-family: 'helvetica', sans-serif;
    font-weight: normal;
    color: rgb(177, 177, 177);
    height: 60%;
}

.button a {
    text-decoration:  none;
    color: white;
    font-family: "inter", sans-serif;
    font-weight: bold;
    height:  100%;
    font-size: 16px;
    align-content: center;
    width: min-content;
}
.buttonActive {
    border-radius: 15px;
    font-family: 'helvetica', sans-serif;
    font-weight: normal;
    color: black; 
    background-color: white;
    font-weight: bold !important;
    /* text-transform: uppercase; */
}

.buttonActive a {
    text-decoration:  none;
    color: black;
    font-family: "inter", sans-serif;
    font-weight: bold;
}

.button:hover {
    background-color: #ffffff0e;
    color: white;
    font-weight: bold;
    /*text-transform: uppercase;
    min-width: 50px;*/
}

.buttonActive:hover {
    min-width: 50px;
    font-weight: bold;

}

.button, .buttonActive {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 15px;
    font-family: 'helvetica', sans-serif;
    font-weight: normal;
    padding: 8px 12px;
}

.bg-search-mid {
    position: fixed;
    top: 0%;
    left: 50%;
    transform-origin: 12.5% 0%;
    scale: 0.5;
    transform: translate(-50%, -0%);
}
.search-icon-mid {
    position: fixed;
    top: 3px;
    left: 50%;
    transform-origin: 12.5% 0%;
    transform: translate(-50%, -0%);
}

#gbghnav {
    display: flex;
    position: fixed;
    gap: 15px;
    top: 10px;
    height: min-content;
    justify-self: center;
    align-items: center;
    transform-origin: 50% 0%;
    scale: 0.39;
    transform: translate(-0%, -0%);
}

.nnav {
    position: fixed;
    top: 10px;
    gap: 20px;
    height: min-content;
    justify-self: center;
    align-items: center;
}

.login {
    position: absolute;
    top: 0px;
    margin-top: 10px;
    right: 20px;
    text-decoration: none;
}

@keyframes pulseLogin {
    0% {
        background-color: rgba(79, 79, 255, 0.364);
    }
    50% {
        background-color: rgba(226, 79, 255, 0.365);
    }
    100% {
        background-color: rgba(79, 79, 255, 0.364);
    }
}

.login span {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-family: 'helvetica', sans-serif;
    font-weight: bold;
    color: white;
    backdrop-filter: blur(3px);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    background-color: rgba(79, 79, 255, 0.364);
    animation: infinite 10s ease-in-out 0s pulseLogin;
}

.joinBtn {
    position: relative;
    margin-top: 80px;
    text-decoration: none;
    justify-self: center;
    align-self: center;
    display: block;
}

.joinBtn span {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-family: 'inter', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: white;
    backdrop-filter: blur(3px);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    background-color: rgba(79, 79, 255, 0.364);
    animation: infinite 10s ease-in-out 0s pulseLogin;
}


.options { 
    display: flex;
    justify-content: flex-end; /* please remember : 'flex-end' is the standard for pushing right */
    align-items: center; 
    gap: 15px;
    top: 25px;
    right: 120px;
    position: fixed;
    width: 20%;
    transform-origin: center;
}

.options a { 
    display: flex; 
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: "inter", sans-serif;
    font-weight: bold;
}

.svgsettings {
    height: 18px; 
    width: auto; 
    fill: white;
}

.svgcart {
    height: 28px; 
    width: auto; 
    fill: white;
}

.menu-toggle {
    display: none; 
    position: fixed;
    left: 50vw;
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
    z-index: 100;
}

/* --- (When screen is smaller than 900px) --- */
@media (max-width: 900px) {
    .menu-toggle {
        display: block; 
    }
    
    ul {
        display: none; 
        position: absolute;
        top: 70px; 
        left: 37.5%;
        transform-origin: top center;
        margin-left: auto;
        margin-right: auto;
        width: 220px;
        flex-direction: column; 
        padding: 20px;
        border-radius: 20px;
        height: min-content;
        
        backdrop-filter: blur(10px);
        background-color: rgba(0,0,0, 0.5);
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
        z-index: 99;
    }
    @keyframes in {
        from {
            scale: 0.95;
            opacity: 0;
        }
        to {
            scale: 1;
            opacity: 1;
        }
    }
    ul.active {
        display: flex; 
        animation: in 0.15s ease-out 0s 1 normal none;
    }

    .button, .buttonActive {
        width: 100%; 
        height: min-content;
        justify-content: flex-start; 
    }
}

.logo {
    position: absolute;
    left: 20px;
    height: 100%;
    width: auto;
}


/* The main window that hides the overflow */
.carousel-container {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

/* The track that holds all the slides side-by-side */
.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Smooth sliding animation */
    width: 100%;
}

/* Individual slide styling */
.carousel-slide {
    min-width: 100%; /* Each slide takes up the full container width */
    box-sizing: border-box;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    object-fit: contain;
}

.slide-3 { background-color: #2ecc71; }
.slide-4 { background-color: #f1c40f; color: #333; }

.navBlur {
    position: fixed;
    width: 100%;
    height: 120px;
    backdrop-filter: blur(10px);
    mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    top: 0;
}

#languagePrompt {
    display: none;
}

@keyframes in {
    from {
        scale: 0.95;
        opacity: 0;
    }
    to {
        scale: 1;
        opacity: 1;
    }
}

#languagePrompt.active {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    padding: 40px;
    border-radius: 20px;
    color: white;
    font-family: 'inter', sans-serif;
    font-weight: bold;
    font-size: 24px;
    animation: in 0.15s ease-out 0s 1 normal none;
}

@keyframes scroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 1000px 0px;
    }
}

.scrollingSponsers {
    position: relative;
    background-color: rgba(255, 255, 255, 0.016);
    overflow: hidden; /* hide excess stars */
    width: 200%;
    transform: translateX(-25%);
    height: 400px;
}

.scrollingSponsers::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 500%;
    background: url("asset/PNG/sponserloop3.png") repeat;
    opacity: .75;
    z-index: 0;

    animation: scroll 45s linear infinite;
}

@keyframes drop {
    from {
        opacity: 0;
        top: 0%
    }
    to {
        opacity: 1;
        top: 12.5%
    }
}

#productsDropDown {
    display: none;
}

#productsDropDown.active {
    display: flex;
    position: fixed;
    top: 12.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.097);
    backdrop-filter: blur(6px);
    padding: 40px;
    border-radius: 20px;
    color: white;
    font-family: 'inter', sans-serif;
    font-weight: bold;
    font-size: 20px;
    animation: drop 0.25s ease-out 0s 1 normal none;
    align-items: flex-start;
    justify-content: center;
    height: 12.5%;
}

#productsDropDown.active article {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 20px;
    font-family: 'inter', sans-serif;
    font-weight: bold;
    height: 100%;
    width: 100%;
    text-align: center;
}

#productsDropDown.active article a img {
    width: 100%;
    height: 80%;
    object-fit: contain;
}

#dropdownHitbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    z-index: 98; 
    opacity: 1; 
    background: none;
    pointer-events: none; 
}

#dropdownHitbox.active-hitbox {
    pointer-events: auto; 
}

footer {
    padding-top: 15px;
    padding-bottom: 15px;
    background: linear-gradient(to top, black 0%, transparent 100%);
}

footer p {
    margin-top: 50px;
    text-align: center;
    font-family: 'inter', sans-serif;
    font-size: 16px;
    color: #ffffffb3;
}

.footerTable {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.footerCollection1, .footerCollection2, .footerCollection3 {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footerCollection1 {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5%;
    padding-right: 5%;
    flex: 1;
}

.footerCollection1 div {
    width: 100%;
    flex: 1;
}

.footerCollection1 div ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-inline: 0;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}

.footerCollection1 div ul li a {
    text-decoration: none;
    color: #ffffffb3;
    font-family: 'inter', sans-serif;
    font-size: 13px;
    text-align: left;
}

.socialButtons {
    display: flex;
    flex-direction: row !important;
    gap: 10px;
    align-items: flex-start;
}

.socialButtons li {
    width: auto;
    height: auto;
}

.footerSectionTitle {
    font-family: 'inter', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #ffffffb3;
    text-align: left;
    width: 100%;
}

.hqContainer {
    background-image: url('asset/PNG/Screenshot 2026-05-02 164114.png'); 
    background-size: cover; 
    background-position: center;
    width: 100%;
    height: 300px;
    border-radius: 15px;
    padding: 15px;
}

.hqContainer div {
    background-color: rgba(255, 255, 255, 0.318);
    width: 40%;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    height: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hqContainer div h2 {
    margin-top: 20px;margin-left: 20px;
}

.hqContainer div h3 {
    margin-top: -20px;margin-left: 20px;font-family: 'inter', sans-serif;
}

.about-paragraph {
    padding: 20px;color: #ffffff;font-family: 'inter', sans-serif; 
}

.footerStayInTouchInputBG {
    display: flex;
    position: relative;
    width: 100%;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.245);
    border-radius: 6px;
    padding: 5px;
    justify-self: center;
    margin-bottom: 15px;
}

.footerStayInTouchInput {
    position: relative;
    font-family: "inter", sans-serif;
    font-weight: normal;
    align-self: center;
    justify-self: start;
    width: 90%;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 14px;
    border: none;
    text-decoration: none;
}

.footerStayInTouchInput:focus {
    outline: none;
}

.footerStayInTouchInputSubmit {
    display: flex;
    position: relative;
    background-color: rgba(255, 255, 255, 0.245);
    border-radius: 8px;
    padding: 5px 10px;
    font-family: "inter", sans-serif;
    font-weight: normal;
    color: white;
    font-size: 12px;
    border: none;
    text-decoration: none;
}