@font-face {
    font-family: 'helvetica';
    src: url('asset/fonts/helvetica/Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica';
    src: url('asset/fonts/helvetica/Helvetica-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'inter';
    src: url('asset/fonts/inter/static/Inter_28pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'inter';
    src: url('asset/fonts/inter/static/Inter_28pt-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/*
================================================
===================user theme===================
================================================
*/

:root {
    --user-chosen-color: rgb(18, 18, 18); 
}

body {
    margin: 0;
    background-image: linear-gradient(to bottom,
        rgb(8, 0, 39),
        var(--user-chosen-color)
    );
    background-attachment: fixed;   /* <— keeps background still when scrolling */
    background-repeat: no-repeat;
    background-size: cover;         /* ensure it fills the viewport */
    color: white;
    /*background-image: url("https://images2.alphacoders.com/649/thumb-1920-649639.jpg");*/
}


html {
    height: 100%;
}

/*
================================================
================================================
================================================
*/

ul {
    margin-top: 0;
    gap: 15px;
    align-items: center;
    height: 100%;
    width: 50%;
    display: flex;
    justify-self:center;
    justify-content: center;
}

.hnav {
    position: fixed;
    top: 15px;
    height: clamp(15px, 60vh, 40px);
    transform-origin: center;
    width: 100%;
}

li a {
    text-align: center;
    font-family: helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
}

h1 {
    font-family: 'helvetica', sans-serif;
    font-weight: bold;
    font-size: 48px;
    margin-top: 0;
}

h2 {
    font-family: 'helvetica', sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin-top: 0;
}

h3 {
    font-family: 'helvetica', sans-serif;
    font-weight: normal;
    font-size: 24px;
    margin-top: 0;
}

p {
    font-family: 'helvetica', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
}

.main-content {
    margin-top: 100px;
    margin-left: 12%;
    margin-right: 12%;
    padding: 2%;
    border-radius: 20px;
    backdrop-filter: blur(3px);
    filter:  drop-shadow(0 6px 6px rgba(0, 0, 0, 0.3));
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
    background-color: rgba(0,0,0, 0.1);
}

.button {
    border-radius: 15px;
    font-family: 'helvetica', sans-serif;
    font-weight: normal;
    color: rgb(177, 177, 177);
    height: 60%;
}
.button a {
    text-decoration:  none;
    color: white;
    font-family: "inter", sans-serif;
    font-weight: bold;
    height:  100%;
    font-size: 16px;
    align-content: center;
    width: min-content;
}
.buttonActive {
    border-radius: 15px;
    font-family: 'helvetica', sans-serif;
    color: black; 
    background-color: white;
    font-weight: bold;
    /* text-transform: uppercase; */
}

.buttonActive a {
    text-decoration:  none;
    color: black;
    font-family: "inter", sans-serif;
    font-weight: bold;
}

.button:hover {
    background-color: #ffffff0e;
    color: white;
    font-weight: bold;
    /*text-transform: uppercase;
    min-width: 50px;*/
}

.buttonActive:hover {
    min-width: 50px;
    font-weight: bold;

}

.button, .buttonActive {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 15px;
    font-family: 'helvetica', sans-serif;
    font-weight: normal;
    padding: 8px 12px;
}

.logo {
    position: absolute;
    left: 20px;
    height: 100%;
    width: auto;
}

.bg-search-mid {
    position: fixed;
    top: 0%;
    left: 50%;
    transform-origin: 12.5% 0%;
    scale: 0.5;
    transform: translate(-50%, -0%);
}
.search-icon-mid {
    position: fixed;
    top: 3px;
    left: 50%;
    transform-origin: 12.5% 0%;
    transform: translate(-50%, -0%);
}

#gbghnav {
    display: flex;
    position: fixed;
    gap: 15px;
    top: 10px;
    height: min-content;
    justify-self: center;
    align-items: center;
    transform-origin: 50% 0%;
    scale: 0.39;
    transform: translate(-0%, -0%);
}

.nnav {
    position: fixed;
    top: 10px;
    gap: 20px;
    height: min-content;
    justify-self: center;
    align-items: center;
}

.modules {
    align-items: flex-start;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: 20px;
    position: relative;
    display: flex;
}

.module {
    width: 300px; 
    height: 200px;
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(3px);
    border-radius: 24px; 
    
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
}

.module::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit; 

    padding: 2px; 
    
    background: linear-gradient(
        135deg, 
        rgba(255, 255, 255, 0.8) 0%, 
        rgba(255, 255, 255, 0.1) 100%
    ); 
    
    /*-webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);*/
    mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    
    pointer-events: none; 
}

.quickbanner {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: transparent;
    margin-bottom:20px;
}

.login {
    position: absolute;
    top: 0;
    margin-top: 10px;
    right: 20px;
    text-decoration: none;
}

.login span {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-family: 'helvetica', sans-serif;
    font-weight: bold;
    color: white;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
    background-color: rgba(79, 79, 255, 0.364);
}


.options { 
    display: flex;
    justify-content: flex-end; /* please remember : 'flex-end' is the standard for pushing right */
    align-items: center; 
    gap: 15px;
    top: 25px;
    right: 120px;
    position: fixed;
    width: 20%;
    transform-origin: center;
}

.options a { 
    display: flex; 
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: "inter", sans-serif;
    font-weight: bold;
}

.svgsettings {
    height: 18px; 
    width: auto; 
    fill: white;
}

.menu-toggle {
    display: none; 
    position: fixed;
    left: 50vw;
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
    z-index: 100;
}

/* --- when screen is smaller than 900px --- */
@media (max-width: 900px) {
    .menu-toggle {
        display: block; 
    }
    
    ul {
        display: none; 
        position: absolute;
        top: 70px; 
        left: 37.5%;
        transform-origin: top center;
        margin-left: auto;
        margin-right: auto;
        width: 220px;
        flex-direction: column; 
        padding: 20px;
        border-radius: 20px;
        height: min-content;
        
        backdrop-filter: blur(10px);
        background-color: rgba(0,0,0, 0.5);
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
        z-index: 99;
    }
    @keyframes in {
        from {
            scale: 0.95;
            opacity: 0;
        }
        to {
            scale: 1;
            opacity: 1;
        }
    }
    ul.active {
        display: flex; 
        animation: in 0.15s ease-out 0s 1 normal none;
    }

    .button, .buttonActive {
        width: 100%; 
        height: min-content;
        justify-content: flex-start; 
    }
}

.csearchbar {
    display: flex;
    position: absolute;
    top: 100px;
    width: 90%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.245);
    border-radius: 15px;
    padding: 10px;
    justify-self: center;
}

.csearchbarinput {
    position: absolute;
    font-family: helvetica, sans-serif;
    font-weight: normal;
    align-self: center;
    justify-self: start;
    width: 90%;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 20px;
    border: none;
    text-decoration: none;
    left: 35px;
}

.csearchbarinput:focus {
    outline: none;
}

.csearchbarsubmit {
    position: absolute;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.245);
    border-radius: 8px;
    padding: 5px 10px;
    font-family: 'helvetica', sans-serif;
    font-weight: normal;
    color: white;
    font-size: 16px;
    border: none;
    text-decoration: none;
}

.setting {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 8px; /* spacing between icon and text */
    border-radius: 15px;
    font-family: 'montserrat', sans-serif;
    font-weight: normal;
    padding: 0 12px;
    background: linear-gradient(to top,
        rgba(255, 255, 255, 0.089),
        rgba(255, 255, 255, 0.129)
    );
    border: #ffffff0e 1px solid;
    margin-top: 10px;
}

/* Switch container */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

/* Hide checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background-color: rgba(255, 255, 255, 0.216);
  transition: 0.2s;
  border-radius: 28px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.2s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #3c00ff89;
}

input:checked + .slider:before {
  transform: translateX(22px);
}

.whatsnewwidget {   
    width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 20px;
    color: rgb(255, 255, 255);
    font-family: 'helvetica', sans-serif;
    font-weight: normal;
    text-align: left;
    text-wrap: wrap ;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
}

.navBlur {
    position: fixed;
    width: 100%;
    height: 120px;
    backdrop-filter: blur(10px);
    mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
    top: 0;
}

@keyframes pulse {
    0% {
        color: rgb(255, 145, 145);
    }
    50% {
        color: rgb(255, 0, 0);
    }
    100% {
        color: rgb(255, 145, 145);
    }
}

.whatsnewwidgetlive {   
   color: rgb(255, 81, 81); 
   margin: 0; 
   margin-bottom: 10px;
   animation: infinite 3s linear 0s pulse;
}

.whatsnewwidgetidle {   
   color: rgb(255, 227, 227); 
   margin: 0; 
   margin-bottom: 10px;
}


